<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<%= @restaurant.name %>
<%= @restaurant.address %>
<%= @restaurant.category  %>

<%= link_to "go back", restaurants_path %>
<%= link_to "submit a review", new_restaurant_review_path(@restaurant) %>
